---
- hosts: master,workers
  become: yes
  tasks:
    - name: Prérequis système (Swap off)
      shell: |
        swapoff -a
        sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab

    - name: Modules Noyau
      shell: |
        modprobe overlay
        modprobe br_netfilter
        cat <<EOF | tee /etc/modules-load.d/containerd.conf
        overlay
        br_netfilter
        EOF

    - name: Paramètres Sysctl
      shell: |
        cat <<EOF | tee /etc/sysctl.d/99-kubernetes-cri.conf
        net.bridge.bridge-nf-call-iptables  = 1
        net.ipv4.ip_forward                 = 1
        net.bridge.bridge-nf-call-ip6tables = 1
        EOF
        sysctl --system

    - name: Installer Containerd
      apt:
        name: containerd
        state: present
        update_cache: yes

    - name: Configurer Containerd (SystemdCgroup)
      shell: |
        mkdir -p /etc/containerd
        containerd config default > /etc/containerd/config.toml
        sed -i 's/SystemdCgroup = false/SystemdCgroup = true/g' /etc/containerd/config.toml
        systemctl restart containerd

    - name: Installer Kubeadm, Kubelet, Kubectl
      shell: |
        apt-get update && apt-get install -y apt-transport-https curl
        curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /' | tee /etc/apt/sources.list.d/kubernetes.list
        apt-get update
        apt-get install -y kubelet kubeadm kubectl
        apt-mark hold kubelet kubeadm kubectl

- hosts: master
  become: yes
  tasks:
    - name: Initialiser le Master
      shell: kubeadm init --pod-network-cidr=192.168.0.0/16 --apiserver-advertise-address=10.240.0.10
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Configurer Kubeconfig pour Ubuntu
      shell: |
        mkdir -p /home/ubuntu/.kube
        cp -i /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
        chown ubuntu:ubuntu /home/ubuntu/.kube/config

    - name: Installer Calico (Réseau)
      become_user: ubuntu
      shell: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.26.0/manifests/calico.yaml

    - name: Récupérer commande de join
      shell: kubeadm token create --print-join-command
      register: join_cmd

    - name: Stocker la commande
      set_fact:
        join_command: "{{ join_cmd.stdout }}"

- hosts: workers
  become: yes
  tasks:
    - name: Rejoindre le cluster
      shell: "{{ hostvars['10.240.0.10']['join_command'] }}"
      args:
        creates: /etc/kubernetes/kubelet.conf